@{
    Layout = null;
    ViewData["Title"] = "Hakkimda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hakkımda</title>
</head>
<body>
    hakkımda ...
</body>
</html>
