@{
    ViewData["Title"] = "Hakkimda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hakkımda</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    @Html.Partial("_Top_Wrapper")


<h3> Who AM I?</h3>

<button class="btn btn-warning">LEARN</button>

</body>
</html>
