@{
    ViewData["Title"] = "Hizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hizmetler</title>
</head>
<body>
<partial name="~/Views/Shared/_Top_Wrapper.cshtml" />
    

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">user id</th>
                    <th scope="col">title</th>
                    <th scope="col">completed</th>
                </tr>
            </thead>
            <tbody id="place_holder">
            </tbody>
        </table>
    </div>
</body>
</html>
