@{
    Layout = null;
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>iletisim</title>
</head>
<body>
    iletişim ...
</body>
</html>
