@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/profil4.png"/>
    <p>
        Learn about  <a href="https://mehmetalibuber.com" target="_blank">

            mabcodes
        </a>Web apps developed with ASP.NET Core.
    </p>
</div>
