@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex row justify-content-between pt-5 align-items-center">
    <div class="col">

        <h1>Hi! I AM MEHMET ALI BUBER 👋</h1>

        <p>
            I have been designing for digital environments for 5 years
            and developing website themes and codes for three years.
            For the last 1 year, I have been developing web 3.0 software in the fields of
            blockchain, nft, smart contract.
        </p>
        <ul>
            <li>🔭 I'm currently working on web applications development.</li>
            <li>🌱 I’m currently learning deep JavaScript.</li>
            <li>  👯 Some skills: HTML5 ⚡ CSS3 ⚡ JAVASCRIPT ⚡ VUE.JS ⚡ NODE.JS ⚡ EXPRESS.JS ⚡ WORDPRESS ⚡ PHP...</li>
            <li>
                💬 Learn more about me on <a href="https://mehmetalibuber.com" target="_blank">
                    mehmetalibuber.com
                </a>
            </li>
            <li>
                📫 You can also check out my GitHub page on
                <a href="https://github.com/mehmetalibuber"
                   target="_blank">github.com/mehmetalibuber</a>
            </li>
        </ul>
    </div>
    <div class="col justify-content-center text-center">
        <img class="profile_img" src="~/img/profil4.png" />
    </div>
</div>



