<div class="top-wrapper">
    <p class="mt-4">

        hello partial view. You are here! @DateTime.Now.ToLongDateString()
        <a class="fw-bolder px-5 pt-5">
            <text>
                @ViewData["Title"]

                <a class="text-decoration-none d-block">

                </a>

            </text>




        </a>
    </p>
</div>
